<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://giant-image-resizer-qu2qwwv2de7wv85rz.stackpathdns.com/remote/www.giant-bicycles.com/_upload/showcases/2017/liv-bikes/Banner_LangmaAdvancedSLShowcase.jpg);">
  <div class="container">
    <h1>AIRBNBIKE </h1>
    <p>Find Bikes to rent wherever you are.</p>
    <%= link_to "Discover Bikes", bikes_path, class: "btn btn-flat" %>
  </div>
  <br><br>
</div>
  <div class="container">
    <h2>London Bikes</h2>
    <%= render 'shared/cardgrid_home', locals: {bikes: @bikes} %>
  </div>
