.main-index {
  display: flex;
  padding-top: 16px;
}

.map {
  height: 120%;
  position: sticky;
  top: 0;
  padding-left: 16px;
  flex-grow: 2;
}

.row {
  padding: 0;
  flex-basis: 0;
  flex-grow: 2;
}
